<section class="gallery-section">
    <div class="container">
       

        <form class="search-form js-search-form">
            <input type="text" name="input_search" class="search-input"  placeholder="Search images...">
            <button type="submit" class="search-btn">Search</button>
        </form>
         <div class="loader is-hidden"></div>
        <ul class="gallery js-gallery list">
            
        </ul>
        <button type="button" class="load-more js-load-more is-hidden">Load more</button>
    </div>

</section>